.row{
    flex: 1;
    display: flex;
    box-sizing: border-box;
    height: 25%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.box{
    flex: 1;
    height: 100%;
    width: 25%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: black solid 1px;
}
.container{
    display: flex;
    flex: 1;
    box-sizing: border-box;
    border: black solid 1px;
    flex-flow: column;
    height: 600px;
    width: 600px;
    margin-left: 400px;
}